.tokens-grid {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-family: sans-serif;
    color: #fff;
}

.tokens-grid td,
.tokens-grid th {
    border: none !important;
    background-color: inherit;
    padding: 0.75rem 1rem;
    color: #ccc;
}

.tokens-grid thead th {
    text-align: left;
    font-weight: bold;
}

.tokens-grid tbody tr:nth-child(even) {
    background-color: #444;
}

.tokens-grid tbody td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tokens-grid tbody td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
